*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.btn{
  padding: 1.2rem 3rem;
  background-color: rgb(69, 78, 125);
  color: white;
  margin: 30px;
  border: none;
  border-radius: 10px;
}

.model{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgb(255, 255, 255);
padding: 6rem;
width: 80%;
box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
z-index: 10;
}

.model h1{
  margin-bottom: 20px;
}

.close{
  padding: 5px 10px;
  font-size: 3rem;
  font-weight: 600;
  border: none;
  background: none;
  color: #333;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.hidden{
  display: none;
}

.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);    
  z-index: 5;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
}